:root {
    --gray: #413f4f;
}

body {
    background-color: #b0b5b8;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.main-card {
    background-color: #eeeeee;
    width: 50em;
    height: 69em;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #b0b5b8;
    color: #413f4f;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    white-space: nowrap;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

h1 {
    font-family: "Old Standard TT", serif;
    font-variant: small-caps;
    text-align: center;
    font-size: 3em;
    color: var(--gray);
    margin: 10px 0 2px;
    letter-spacing: -1px;
}

.contact-panel {
    text-align: center;
}

.contact-item {
    margin: 5px;
    display: inline-block;
}

i {
    color: var(--gray);
}

section {
    margin: 1em;
}

section > label {
    display: block;
    color: #222222;
}

section > label.title {
    font-family: Calibri, sans-serif;
    font-size: 3em;
    font-variant: all-petite-caps;
    font-weight: normal;
}

section > label.title-2 {
    font-family: "Times New Roman", serif;
    font-size: 2em;
}

section > label.extra-info {
}

.period {
    color: #b0b0b0;
    font-style: italic;
}

.progressbar-group {
    display: flex;
}

.progressbar-background {
    float: right;
    width: 100%;
    border: 1px solid #9e9e9e;
}

.progressbar {
    background-color: #9e9e9e;
    height: 22px;
}

.progressbar-0 {
    width: 0%;
}
.progressbar-1 {
    width: 20%;
}
.progressbar-2 {
    width: 40%;
}
.progressbar-3 {
    width: 60%;
}
.progressbar-4 {
    width: 80%;
}
.progressbar-5 {
    width: 100%;
}

.interest {
    border: #9e9e9e solid 1px;
    padding: 3px;
    border-radius: 0.5em;
    position: relative;
    white-space: nowrap;
}

label {
    font-weight: bold;
}

.info {
    display: inline-block;
}