:root {
    --gray: #413f4f;
}

body {
    background-color: #b0b5b8;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.main-card {
    background-color: #eeeeee;
    min-width: 768px;
    min-height: 1366px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    white-space: nowrap;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.check {
    width: 350px;
    height: 615px;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.34);
    margin: 16px 0;
}

h1 {
    font-family: "Old Standard TT", serif;
    font-variant: small-caps;
    text-align: center;
    font-size: 42px;
    color: var(--gray);
    margin: 10px 0 2px;
    letter-spacing: -1px;
}

.contact-panel {
    text-align: center;
}

.contact-item {
    margin: 5px;
    display: inline-block;
}

i {
    color: var(--gray);
}

.education-period {
    color: #b0b5b8;
    font-style: italic;
}

section > label.title {
    font-family: "Arial Black";
    font-size: 100px;
}